nav {
    position: relative;
    min-width: 200px;
    max-height: 100vh;
    width: auto;
    height: auto;
    background-color: var(--font-color);
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.04);
}
.nav-menu {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    z-index: 9999;
}
nav * {
    font-family: var(--font-kr);
    transform: rotate(-0.03deg);
}
.logo {
    display: block;
    margin: 10px 0 22px 0;
}
nav > *,
nav ul > li {
    padding: 10px 20px;
}
/* @note 2023-06-12 */
nav > a > img {
    width: 120px;
    height: 24px;
}
nav ul {
    padding: 0; color: var(--color-grey-40); font-size: 15px; font-weight: var(--font-reg-weight);
    height: 80vh;
    overflow-y: scroll;
}
nav ul::-webkit-scrollbar {
    display: none;
}
nav ul li {
    height: 45px; justify-content: space-between; display: flex; align-items: center; cursor: pointer;
}
nav ul ol li {
    height: 38px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 10px 0 10px 30px;
    cursor: pointer;
}
nav ul ol li:hover {
    font-weight: var(--font-mid-weight);
    color: #FFFFFF;
}
nav ul li img {
    width: 20px;
}
nav .nav-setting {
    width: 200px;
    height: auto;
    display: flex;
    position: absolute;
    bottom: 0px;
    color: white;
    background-color: var(--font-color);
    padding: 30px 0 30px 20px;
}
nav .nav-setting p {
    font-size:13px;
    font-weight:400;
}
nav .nav-setting img {
    padding-right: 5px; 
}
nav ul ol {
    font-weight: var(--font-reg-weight);
    font-size: 15px;
    color: var(--color-grey-40);
    padding: 0px;
    background-color: var(--color-navy-60);
}
nav .nav-list-1nd.select {
    font-weight: var(--font-bold-weight);
    color: #FFFFFF;
    background-color: var(--color-navy-80);
}
nav .nav-list-2nd > .list-2nd-item.select {
    font-weight: var(--font-mid-weight);
    color: #FFFFFF;
}
.sub-content {
    display: none;
    height: auto;
    position: absolute;
    left: 210px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    z-index: 99;
}
.sub-content ul li {
    color: var(--color-grey-60);
    font-weight: var(--font-reg-weight);
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 10px;
    cursor: pointer;
}
.sub-content ul li:last-child {
    margin-bottom: 0;
}
.sub-content ul li:hover {
    color: var(--color-navy-100);
    font-weight: var(--font-mid-weight);
}
nav .nav-list-1nd:after {
    content: "";
    width: 20px;
    height: 20px;
    background: url('../svgs/Icon_arrowdownx20.svg');
}
nav .nav-list-1nd.select:after {
    transform: rotate(180deg);
}

.slider_btn {cursor: pointer; position: absolute; display: flex; justify-content: center; align-items: center; left: 200px; top: 50%; transform: translateY(-50%); padding: 10px; max-width: 30px; height: 150px; background-color: #1C203B; border-top-right-radius: 15px; border-bottom-right-radius: 15px;}
.slider_btn img {transform: rotate(90deg);}
.slider_btn.slider_chk img {transform: rotate(-90deg);}