/* 게시판 리스트 */


.board-wrapper   {
    width: 100%;
}

/* */
.board-wrapper .post-write-area .post-write-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top:20px;
}

.board-wrapper .post-write-area .post-write-list .post-item {
    color: var(--color-grey-100);
}

.board-wrapper .post-write-area .post-write-list .content-search-item {
    display: flex;
}

.board-wrapper .post-write-area .post-write-list .select-box {
    width:100%;
}

.board-wrapper .post-write-area .post-write-list .select-box.half {
    width:50%;
}
.board-wrapper .post-write-area .post-write-list .select-box .select-label {
    font-size:12px;
    font-weight:400;
    color: var(--color-grey-80);
}

.board-wrapper .post-write-area .post-write-list .select-box .select-label::after {
    right:17px;
}

.board-wrapper .post-write-area .post-write-list .input-box input[type="text"] {
    font-size: 12px;
    font-weight: 400;
    color: var(--color-grey-80);
}
.board-wrapper .post-write-area .post-write-list .input-box:after {
    display: none;
}

.board-wrapper .post-write-area .post-write-list .input-box input[type="text"]::placeholder {
    font-size: 12px;
    font-weight: 400;
    color: var(--color-grey-80);
}

.board-wrapper .post-write-area .post-write-list .input-box.zip-code {
    display: flex;
    gap:10px;
    width:65%;
}

.board-wrapper .post-write-area .post-write-list .input-box.zip-code > input {
    width: calc(100% - 80px);
}

.board-wrapper .post-write-area .post-write-list .input-box.zip-code > button {
    width:80px;
    padding:0;
    text-align:center;
}

.board-wrapper .post-write-area .post-write-list .input-box.bg-ch input{
    background-color: var(--color-grey-5);
}

.board-wrapper .post-write-area .post-write-list .input-box .text-count {
    position: absolute;
    top: 11px;
    right: 11px;
    color: var(--color-grey-80);
}

.board-wrapper .post-write-area .post-write-list .pt-tit.ver2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

.board-wrapper .post-write-area .post-write-list .day-on-off .datepicker {
    width:100%;
 }

.board-wrapper .post-write-area .add-underline {
    padding-bottom:20px;
    border-bottom:1px solid var(--color-grey-20);
}
.board-wrapper .post-write-area .post-write-list .add-file-area {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.board-wrapper .post-write-area .post-write-list .add-file-area button {
    font-size:12px;
    font-weight:400;
    line-height:17px;
    color: var(--color-grey-80);
    border: 1px solid var(--color-grey-20);
    padding:9px 12px;
    text-align:center;
    background-color: #ffffff;
    border-radius: 10px;
}

.board-wrapper .post-write-area .post-write-list .add-file-tr.no-view .file-drag {
    display:block;
    margin-top: 12px;
    border: 1px solid var(--color-grey-20);
    border-radius: 10px;
}

.board-wrapper .post-write-area .post-write-list .add-file-tr .file-drag {
    display:none;
    margin-top: 12px;
    border: 1px solid var(--color-grey-20);
    border-radius: 10px ;
}

.board-wrapper .post-write-area .post-write-list .file-drag .file-drag-tp {
    display: flex;
    padding: 12px 40px 12px 18px;
    background-color: var(--color-grey-5);
    border-radius: 10px 10px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.board-wrapper .post-write-area .post-write-list .file-drag .file-drag-tp .file-drag-tp-del{
    position: relative;    
    top: 2px;
    background: none;
    border: none;
    padding: 0;
    margin-right: 15px;
    line-height: 0;
}
.board-wrapper .post-write-area .post-write-list .file-drag .file-drag-tp .file-drag-tp-del img{
    width: 10px;
    height: 10px;
}
.board-wrapper .post-write-area .post-write-list .file-drag .file-drag-tp .file-drag-tp-volume{
    margin-left: auto;
}


.board-wrapper .post-write-area .post-write-list .file-drag .file-drag-bp.af-file {
    padding: 29px 0 30px;
    text-align:center;
    color: var(--color-grey-80);
    border: 1px dashed var(--color-grey-10);
    border-radius: 10px;
}

.board-wrapper .post-write-area .post-write-list .file-drag .file-drag-bp.af-file img {
    display: block;
    margin: 5px auto 0;
}

.board-wrapper .post-write-area .post-write-list .file-drag .file-drag-bp.bf-file {
    display: flex;
    padding: 18px;
    height: 98px;
    gap:7px;
    flex-direction: column;
}

.board-wrapper .post-write-area .post-write-list .file-drag .file-drag-bp div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.board-wrapper .post-write-area .post-write-list .file-drag .file-drag-bp .file-drag-bp-list{
    display: flex;
    padding-right: 22px;
    justify-content: space-between;
    align-items: center
}
.board-wrapper .post-write-area .post-write-list .file-drag .file-drag-bp .file-drag-bp-list .file-drag-bp-del{
    background: none;
    border: none;
    padding: 0;
    margin-right: 15px;
    line-height: 0;
}
.board-wrapper .post-write-area .post-write-list .file-drag .file-drag-bp .file-drag-bp-list .file-drag-bp-del img{
    width: 10px;
    height: 10px;
}
.board-wrapper .post-write-area .post-write-list .file-drag .file-drag-bp .file-drag-bp-list .file-drag-bp-volume{
    margin-left: auto;
}


.board-wrapper .post-write-area .post-write-list .care-text {
    color: var(--color-grey-60);
    margin-top:10px !important;
}

.board-wrapper .post-write-area .post-write-list .care-text p {
    position: relative;
    padding-left:8px;
    margin-top:3px !important;
}

.board-wrapper .post-write-area .post-write-list .care-text p:after {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    top:9px;
    left: 0;
    background-color: var(--color-grey-40);
    border-radius: 50%;
}

.board-wrapper .post-write-area .post-write-list .care-text p:first-child { 
    margin-top: 0 !important;
}

.board-wrapper .post-write-area .post-write-list .sign-tb {
    display: flex;
    margin-top:16px;
}

.board-wrapper .post-write-area .post-write-list .sign-tb  > div {
    border-top:1px solid var(--color-grey-20);
}

.board-wrapper .post-write-area .post-write-list .sign-tb .sign-lt {
    display: flex;
    flex-direction: column;
    width:90px;
}

.board-wrapper .post-write-area .post-write-list .sign-tb .sign-lt .sign-lt-cont {
    padding: 16px 20px 17px;
    text-align: center;
    background-color: var(--color-grey-5);
    color: var(--color-grey-100);
    border-right:1px solid var(--color-grey-20);
    border-bottom:1px solid var(--color-grey-20);
    color: var(--color-grey-80);
}


.board-wrapper .post-write-area .post-write-list .sign-tb .sign-rt {
    display: flex;
    width: calc(100% - 90px);
    flex-direction: column;
}

.board-wrapper .post-write-area .post-write-list .sign-tb .sign-rt .input-box{
    height:57px;
    border-bottom: 1px solid var(--color-grey-20);
}

.board-wrapper .post-write-area .post-write-list .sign-tb .sign-rt .input-box input[type="text"] {
    background-color: #ffffff;
    border: 0;
    height: 55px;
    border-bottom: 0;
    border-radius: 0;
}

/* 게시판 상단 버튼 */

.top-btn-row {
    display: flex;
    justify-content: flex-start;
    gap:8px;
    margin-top:30px;
    padding-bottom:15px;
    border-bottom:1px solid var(--color-grey-10);
}

.top-btn-row button{
    width:84px;
}

.top-btn-row button.btn-l{
    width:80px;
}

.top-btn-row button.btn-m {
    width:72px;
}

.top-btn-row button.btn-s {
    width:60px;
}

.top-btn-row button.right {
    margin-left: auto;
}

.top-btn-row button.left {
    margin-right: auto;
}


/* check box */

.chk-list-area .list {
    overflow: hidden;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.chk-list-area .list li .chk_inner {
    display: block;
    width: 100%;
    font-size: 0;
}

.chk-list-area .list li .chk_inner .inp_chk {
    position: absolute;
	white-space: nowrap;
	border: 0;
	overflow: hidden;
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
    left:-999999999999px;
}

.chk-list-area .list li .chk_inner label {
	cursor: pointer;
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    height: 37px;
    line-height: 34px;
    vertical-align: middle;
    color: var(--color-grey-80);
    background-color: #ffffff;
    margin-bottom: 0;
    padding: 0 20px;
    border: 1px solid var(--color-grey-20);
    border-radius: 100px;
}

.chk-list-area .list li .chk_inner input[type="checkbox"]:checked + .radio-a-label {
    border: 1px solid var(--color-blue-100);
    color: var(--color-blue-100);
    font-weight:500;
}

/* lay popup default style */

.dim{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9998;
}

.layer-popup {
    display: none;
    position: fixed;
    min-width: 320px;
    max-height: calc(100vh - 20%);
    left: 50%;
    top: 50%;
    padding: 18px 20px 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    transform: translate(-50%,-50%);
    z-index: 9999;
    overflow: overlay;
}

.layer-popup.size-m {
    min-width:500px;
}

.layer-popup .popup-close-box {
    text-align:right;
    margin-bottom:16px;
}

.layer-popup .popup-close-box button {
    border:0;
    background-color: #ffffff;
}

.layer-popup .popup-tit{
    padding: 7px 0 16px;
    border-bottom: 1px solid var(--color-grey-20);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.layer-popup .popup-tit .reset {
    color: var(--color-grey-60);
}

.layer-popup .popup-tit .reset button {
    border:0;
    background-color: #ffffff;
}

.layer-popup .popup-cont{
    padding: 20px 0 0;
}
.layer-popup .popup-cont.borderB{
    border-bottom: 0;
}
.layer-popup .popup-cont .popup-data-write{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.layer-popup .popup-cont .popup-data-write .data-write-row{
    display: flex;
    gap: 0;
    align-items: center;
}
.layer-popup .popup-cont .popup-data-write .data-write-row.align-start{
    align-items: flex-start;
}
.layer-popup .popup-cont .popup-data-write .data-write-row .label-box{
    display: flex;
    flex: 1 0 50px;
    align-items: center;
}
.layer-popup .popup-cont .popup-data-write .data-write-row .label-box span{
    color: #777777;
}
.layer-popup .popup-cont .popup-data-write .data-write-row .write-box{
    display: flex;
    min-height: 40px;
    flex: 1 1 calc(100% - 50px);
    gap: 8px;
    align-items: center;
}

.layer-popup .popup-cont .popup-data-write .data-write-row .write-box input[type="text"]{
    flex: 1 1 330px;
    height: 40px;
    padding: 11px 0px 11px 15px;
    background: white;
    border: 1px solid var(--color-grey-20);
    border-radius: 10px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.05em;
    color: #1D203A;
}

.layer-popup .popup-cont .popup-data-write .data-write-row.etc-row {
    display: flex;
    flex-direction: column;
    flex: inherit;
    gap: inherit;
    align-items: inherit;
}

.layer-popup .popup-cont .popup-data-write .data-write-row.etc-row .label-box {
    flex: inherit;
}

.layer-popup .popup-cont .popup-data-write .data-write-row .write-box .wt-kind {
    overflow:hidden;
    width:340px;
    border-top:1px solid var(--color-grey-20);
}

.layer-popup .popup-cont .popup-data-write .data-write-row .write-box .wt-kind li {
    display: flex;
    border-bottom:1px solid var(--color-grey-20);
}

.layer-popup .popup-cont .popup-data-write .data-write-row .write-box .wt-kind li div {
    width:100%;
    font-size:16px;
    font-weight:400;
    color:var(--color-grey-80);
    padding:10px 0;
    text-align:center;
    border-right:1px solid var(--color-grey-20);
}

.layer-popup .popup-cont .popup-data-write .data-write-row .write-box .wt-kind li.tit {    
    background-color: var(--color-grey-5);
}

.layer-popup .popup-cont .popup-data-write .data-write-row .write-box .wt-kind li.tit div {
    font-weight:400;
    font-size:13px;
    color: var(--color-grey-80);
}

.layer-popup .popup-cont .popup-data-write .data-write-row .write-box .wt-kind li.cont {    
    background-color: #ffffff;
}


.layer-popup .popup-cont .popup-data-write .data-write-row .write-box .wt-kind li.cont div {
    font-weight:500;
    font-size:13px;
    color: var(--color-grey-100);
}

.layer-popup .popup-cont .popup-data-write .data-write-row .write-box .wt-kind li div:last-child {
    border-right:0;
}

.layer-popup .popup-cont .popup-data-write .data-write-row .write-box textarea {
    padding: 11px 15px;
    width: 340px;
    height: 78px;
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 10px;
    font-size:12px;
    font-weight:400;
    color:var(--color-grey-100 );
    resize: none;
}

.layer-popup .popup-btn-box{
    padding: 20px 0 0;
    text-align: center;
}

.layer-popup .popup-btn-box button {
    width: 85px;
}

.layer-popup .popup-btn-box button.serch-btn {
    width: 100%;
}

.layer-popup.ver-02 .popup-cont .popup-data-write .data-write-row {
    align-items: baseline;
}
.layer-popup.ver-02 .popup-cont .popup-data-write .data-write-row .write-box {
    display: block;
}

.layer-popup.ver-02 .popup-cont .popup-data-write .data-write-row .write-box .datepicker {
    width:100%;
}

.daterangepicker{z-index: 9999 !important;}

